<!-- Форма добавления комментария -->
{% load user_filters %}

<!-- action="{% url 'post' author.username post.id%} -->
{% if user.is_authenticated %}
<div class="card my-4">
  <form action="{% url 'add_comment' post.author.username post.id %}" 
        method="post">
    {% csrf_token %}
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <div class="form-group">
        {{ form.text|addclass:"form-control" }}
      </div>
      <button type="submit" class="btn btn-primary"><em>Отправить</em></button>
    </div>
  </form>
</div>
{% endif %}

<!-- Комментарии -->
{% for comment in page %}
  <div class="media card mb-4">
    <div class="media-body card-body">
      <h5 class="mt-0">
        <a href="{% url 'profile' comment.author.username %}"
            name="comment_{{ comment.id }}">
          @{{ comment.author.username }}
        </a>
      </h5>
      <p>{{ comment.text|linebreaksbr }}</p>
    </div>
  </div>
{% endfor %}

{% if page.has_other_pages %}
  {% include "paginator.html" with items=page paginator=paginator %}
{% endif %}
  
